@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

.map-container {
  height: 100%;
  width: 100%;
}

.center .slick-center .sliderwarpper {
  opacity: 1;
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}
.center .sliderwarpper {
  transition: all 0.1s ease;
}
.slick-dots li button::before {
  color: white !important; /* Change to your desired color */
}