@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

@media (max-width: 768px) {
  .carousel-slide img {
    width: 100%; /* Make the image 100% of the viewport width for mobile screens */
    height: auto; /* Maintain aspect ratio */
  }
}
.map-container {
  height: 100%;
  width: 100%;
}

